<a href="https://colab.research.google.com/github/yd-14/OOP-in_Lab-work/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x='iiit dharwad'
print(x.upper())
print(x.lower())
print(x.split(' '))
print(x.replace(' ',''))

IIIT DHARWAD
iiit dharwad
['iiit', 'dharwad']
iiitdharwad

In [ ]:
def check(x):
  if (x<0):
    print('x is negative')
  elif(x>0):
    print('x is positive')
  else:
    print('x is zero')

check(int(input('Enter a number:')))

Enter a number:4
x is positive

In [ ]:
def age_check(age, citizen):
  citizen.strip().upper()
  if(age>=35):
    print('Eligible')
  else:
    print('Not eligible')

age_check(int(input('Enter age: ')))

Enter age: 10
Not eligible

In [ ]:
days=['monday','tuesday','wednesday','thrusday','friday','saturday','sunday']
print(days[0],days[1],days[-1],days[-2])
days.append('another day')
days.insert(2,'yet another day')
print(days)
days.pop()
days.pop(2)
print(days)
days.remove('thrusday')
print(days)

new_day=[]
for i in days:
  if(i[0]=='s'):
    new_day.append(i)
print(new_day)

monday tuesday sunday saturday
['monday', 'tuesday', 'yet another day', 'wednesday', 'thrusday', 'friday', 'saturday', 'sunday', 'another day']
['monday', 'tuesday', 'wednesday', 'thrusday', 'friday', 'saturday', 'sunday']
['monday', 'tuesday', 'wednesday', 'friday', 'saturday', 'sunday']
['saturday', 'sunday']

In [ ]:
num=[23,58,34,75,2,6,7,4,65]
num.sort()
print(num)

num.sort(reverse=True)
print(num)

print(max(num))
print(min(num))

[2, 4, 6, 7, 23, 34, 58, 65, 75]
[75, 65, 58, 34, 23, 7, 6, 4, 2]
75
2

In [ ]:
dict={'brand':'XYZ','model':'abc','manufacture year':2019}
print(dict.keys())
print(dict.values())
print(dict)

dict_keys(['brand', 'model', 'manufacture year'])
dict_values(['XYZ', 'abc', 2019])
{'brand': 'XYZ', 'model': 'abc', 'manufacture year': 2019}